body {
  text-align: center;
  background: linear-gradient(#be93c5, #7bc6cc);
}

h1 {
  font-family: Courier, Sans-Serif;
  margin-top: 15px;
}

#container {
  height: 200px;
  margin: 2%;
  padding: 2%;
  background: #f0fffb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 10px;
  font-family: Courier, sans-serif;
  font-size: 14px;
}

textarea {
  width: 28.5%;
  float: top;
  min-height: 250px;
  overflow: scroll;
  margin: 2%;
  padding: 2%;
  display: inline-block;
  background: #f0fffb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 10px;
  font-family: Courier, sans-serif;
  font-size: 14px;
}

iframe {
  bottom: 0;
  position: relative;
  background: #fff;
  width: 94%;
  height: 35em;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

footer {
  height: 30px;
  margin-top: 5px;
  padding: 5px;
}

footer a {
  font-size: 18px;
  font-family: Courier, Sans-Serif;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  color: #000000;
  background-color: #f0fffb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}